<div class="footer">
    <ul>
        <li>Horlarhyinkaddev</li>
        <li>@daniju_farouq</li>
    </ul>
    <div>
        <img src="../static/gdsc_logo.png"/>
        <p>GDSC challenge day 19</p>
    </div>

</div>